@font-face {
    font-family: 'Freesentation-9Black';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Freesentation-9Black', sans-serif;
    transition: background-color 0.3s;
    cursor: none;
}

.container {
    display: flex;
    height: 100vh;
}

.title-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}

.content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 50px;
}

h1 {
    font-size: 100px;
    margin: 0 0 20px 0;
    position: relative;
    display: inline-block;
    transition: color 0.3s;
}

.circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -40px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

h2 {
    font-size: 80px;
    display: none;
    color: black;
    opacity: 0;
    transition: opacity 0.3s;
}

.custom-cursor {
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    transition: background-color 0.3s;
}

body.active {
    background-color: white;
}

body.active .custom-cursor {
    background-color: black;
}

@media (max-width: 768px) {
    .title-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .circle {
        display: inline-block;
        margin-top: 5px;
        position: absolute;
        bottom: -20px;
        right: 0;
    }

    h1 {
        position: relative;
        font-size: 50px;
    }

    h1::after {
        content: attr(data-en);
        font-size: 20px;
        color: white;
        margin-top: 10px;    
    }

    .content-container {
        display: none;
    }
    
    body {
        background-color: black;
        color: white;
    }
}
